body {
    background-color: rgb(250, 250, 250);
}

.table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-align: center;
    font-size: 28px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#delete {
    width: 60px;
}